In [24]:
import pandas as pd
import numpy as np

# 0. Data

We import the data from google trends and S&P500 stock markets. Both data are imported the same day

# 0.1 Importing Google Trends Data

interesting keywords for Google trends:
- debt
- stocks
- inflation
- portfolio
- housing

- revenues
- employment
- unemployment
- leverage
- credit

- return
- bonds
- economics
- religion
- money

- profit
- investment
- gains
- cancer
- marriage

- buy
- hold
- headlines
- present
- crisis

- society
- gross
- loss
- hedge
- nasdaq

- cash
- short sell
- greed
- gain
- happy

- financial markets
- finance
- house
- water
- rich

- risk
- oil
- opportunity
- golf
- invest

- success
- economy
- food
- war
- consume

- nyse
- movie
- health
- consumption
- transaction

- environment
- fond

Adding companies that belong to S&P500 (https://fknol.com/list/market-cap-sp-500-index-companies.php)

- apple
- microsoft
- amazon

- alphabet
- google
- facebook
- berkshire
- visa

- walmart
- johnson
- j p morgan
- procter and gamble
- mastercard

- nvidia
- united health
- home depot
- walt disney
- verizon communications

- paypal
- bank of america
- comcast
- adobe
- coca cola

- pfizer
- netflix
- nike
- intel
- at&t

- merck
- salesforce
- pepsico
- abbott labs
- cisco

- oracle
- mcdonalds
- medtronic

In [116]:
import glob

all_files = glob.glob("data/*")

dfs = []

for filename in all_files:
    df = pd.read_csv(filename, header=[1])
    df = df.set_index('Mois')
    dfs.append(df)

In [117]:
df = pd.concat(dfs, axis=1)

In [118]:
cols = [el.split(':')[0] for el in list(df.columns)]
df.columns = cols

In [119]:
df.head()

,finance,google,employment,comcast,buy,debt,nike,apple,investment,oil,...,transaction,profit,opportunity,financial markets,facebook,revenues,verizon communications,present,microsoft,marriage
Mois,,,,,,,,,,,,,,,,,,,,,
2004-01,39,7,99,51,51,40,20,17,100,32,...,82,76,100,30,< 1,56,65,44,99,58
2004-02,38,7,88,54,48,43,22,15,92,33,...,86,84,77,42,< 1,65,24,41,100,84
2004-03,38,8,88,51,45,40,25,15,97,35,...,81,70,64,83,< 1,99,30,49,88,73
2004-04,39,10,92,51,45,42,25,15,96,35,...,98,79,59,52,< 1,83,100,52,89,65
2004-05,36,9,92,52,48,41,23,16,77,38,...,94,74,57,48,< 1,58,43,46,93,68

- Clean every non integer value by a **one** (`<1` value in cells)
- Compute percentage change in a cell in comparison to previous month
- Set first month to zero

In [151]:
from tqdm.notebook import tqdm

for col in tqdm(df.columns):
    df[col] = pd.to_numeric(df[col].astype(str).str.replace(',',''), errors='coerce').fillna(1).astype(int)
    df[col] = df[col].pct_change()
    df[col].iloc[0] = 0

HBox(children=(FloatProgress(value=0.0, max=93.0), HTML(value='')))

/Users/jeannechaverot/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [152]:
df.head()

,finance,google,employment,comcast,buy,debt,nike,apple,investment,oil,...,transaction,profit,opportunity,financial markets,facebook,revenues,verizon communications,present,microsoft,marriage
Mois,,,,,,,,,,,,,,,,,,,,,
2004-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2004-02,-0.025641,0.000000,-0.111111,0.058824,-0.058824,0.075000,0.100000,-0.117647,-0.080000,0.031250,...,0.048780,0.105263,-0.230000,0.400000,0.0,0.160714,-0.630769,-0.068182,0.010101,0.448276
2004-03,0.000000,0.142857,0.000000,-0.055556,-0.062500,-0.069767,0.136364,0.000000,0.054348,0.060606,...,-0.058140,-0.166667,-0.168831,0.976190,0.0,0.523077,0.250000,0.195122,-0.120000,-0.130952
2004-04,0.026316,0.250000,0.045455,0.000000,0.000000,0.050000,0.000000,0.000000,-0.010309,0.000000,...,0.209877,0.128571,-0.078125,-0.373494,0.0,-0.161616,2.333333,0.061224,0.011364,-0.109589
2004-05,-0.076923,-0.100000,0.000000,0.019608,0.066667,-0.023810,-0.080000,0.066667,-0.197917,0.085714,...,-0.040816,-0.063291,-0.033898,-0.076923,0.0,-0.301205,-0.570000,-0.115385,0.044944,0.046154

In [153]:
df.tail()

,finance,google,employment,comcast,buy,debt,nike,apple,investment,oil,...,transaction,profit,opportunity,financial markets,facebook,revenues,verizon communications,present,microsoft,marriage
Mois,,,,,,,,,,,,,,,,,,,,,
2020-08,-0.046875,0.466667,-0.038462,-0.022727,-0.039474,-0.027027,-0.073529,0.108696,-0.043478,-0.025641,...,-0.011236,-0.027778,0.093023,-0.120000,-0.033333,-0.166667,0.333333,0.122449,0.314286,-0.054054
2020-09,-0.032787,0.409091,-0.040000,-0.046512,-0.068493,0.055556,-0.126984,0.117647,0.045455,-0.105263,...,0.045455,0.214286,0.361702,0.454545,-0.068966,1.080000,-0.125000,0.545455,-0.021739,-0.057143
2020-10,0.016949,-0.365591,-0.041667,-0.048780,0.000000,0.026316,0.000000,-0.035088,0.021739,0.044118,...,-0.076087,-0.047059,-0.218750,-0.031250,0.037037,-0.211538,-0.357143,-0.082353,-0.222222,0.121212
2020-11,-0.066667,-0.186441,-0.130435,-0.025641,0.382353,-0.051282,0.163636,-0.018182,-0.085106,-0.042254,...,-0.164706,-0.160494,-0.200000,0.096774,-0.071429,-0.121951,-0.111111,-0.025641,-0.085714,-0.189189
2020-12,0.160714,0.104167,0.150000,0.052632,-0.042553,0.054054,0.187500,0.092593,0.139535,0.044118,...,0.169014,0.147059,0.100000,-0.235294,0.000000,0.083333,1.875000,0.263158,0.125000,0.000000

# 0.2 Importing S&P500 data

In [182]:
stocks = pd.read_csv('data/sp500_data.csv')

In [183]:
stocks['Date'] = pd.to_datetime(stocks['Date'])

In [184]:
stocks = stocks.set_index('Date')

In [186]:
stocks = stocks.iloc[1:,:]
stocks.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-01-02,1111.920044,1118.849976,1105.079956,1108.479980,1108.479980,1153200000
2004-01-05,1108.479980,1122.219971,1108.479980,1122.219971,1122.219971,1578200000
2004-01-06,1122.219971,1124.459961,1118.439941,1123.670044,1123.670044,1494500000
2004-01-07,1123.670044,1126.329956,1116.449951,1126.329956,1126.329956,1704900000
2004-01-08,1126.329956,1131.920044,1124.910034,1131.920044,1131.920044,1868400000

In [190]:
stocks = stocks.resample('M').sum()

In [191]:
stocks

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-01-31,22631.140014,22741.719973,22519.699949,22650.349975,22650.349975,32820000000
2004-02-29,21710.850221,21815.030028,21623.679809,21723.770142,21723.770142,27985600000
2004-03-31,25870.229612,26006.309570,25708.119994,25851.499632,25851.499632,33597900000
2004-04-30,23813.510009,23940.880251,23679.190062,23794.650023,23794.650023,31611900000
2004-05-31,22042.249998,22173.589844,21918.040039,22055.630003,22055.630003,29326400000
...,...,...,...,...,...,...
2020-08-31,71082.689941,71397.550294,70859.529785,71225.910401,71225.910401,84402300000
2020-09-30,70853.519774,71375.179933,70072.609863,70675.850099,70675.850099,92084120000
2020-10-31,75310.209473,75790.520265,74740.679931,75211.399905,75211.399905,89737600000
2020-11-30,70868.600099,71386.830080,70524.410157,70979.849607,70979.849607,100977880000
2020-12-31,29381.760008,29528.079589,29282.250000,29432.430176,29432.430176,37540471125